@charset "ISO-8859-1";
body
{
	background-color:lightblue;
}
.container
{
	width: 100%;
	height: 100%;
	background-color:skyblue;
	
}

.form-group
{
	width: 70%;
	height: 70%;
	color:blue;
	margin: auto;
	padding: 10px;
	margin-top: 10px;
	font-size:20px;
}
input[type=text]
{
	color:red;
	background-color:tan;
	font-size:20px;
}
input[type=email]
{
	color:green;
	font-size:20px;
	background-color:lavender;
	color:green;
}
input[type=date]
{
	color:black;
	font-size:20px;
	background-color:tan;
	color:red;
}

.container .card
{
	width: 50%;
	height: 50%;
	text-align: center;
	margin: auto;
	padding: 10px;
	margin-top: 10px;
	
}
#d1
{
	float:left;
	width:50%;
	
	
	
}
#d2
{
	float:right;
	width:50%;
	
	
	
}


#d3
{
	float:left;
	width:50%;
	
	
}
#d4
{
	float:right;
	width:50%;
	
	
}
#d5
{
	float:left;
	width:50%;
	
	
	
}
#d6
{
	float:right;
	width:50%;
	
	
	
}
#d7
{
	float:left;
	width:50%;
	
	
	
}
#d8
{
	float:right;
	width:50%;
	
	
	
}
#d9
{
	float:left;
	width:50%;
	
	
	
}
#d10
{
	float:right;
	width:50%;
	
	
	
}
#d11
{
	float:left;
	width:50%;
	
	
	
}
#d12
{
	float:right;
	width:50%;
	
	
	
}
#d13
{
	float:left;
	width:50%;
	
	
	
}
#d14
{
	float:right;
	width:50%;
	
	
	
}
#d15
{
	float:left;
	width:50%;
	
	
	
}
#d16
{
	float:right;
	width:50%;
	
	
	
}
#d17
{
	float:left;
	width:50%;
	
	
	
}
#d18
{
	float:right;
	width:50%;
	
	
	
}
#d19
{
	float:left;
	width:50%;
	
	
	
}
#d20
{
	float:right;
	width:50%;
	
	
	
}
#d21
{
	float:left;
	width:50%;
	
	
	
}
#d22
{
	float:right;
	width:50%;
	
	
	
}
#d23
{
	float:left;
	width:50%;
	
	
	
}
#d24
{
	float:right;
	width:50%;
	
	
	
}
#d25
{
	float:left;
	width:50%;
	
	
	
}
#d26
{
	float:right;
	width:50%;
	
	
	
}
#d27
{
	float:left;
	width:50%;
	
	
	
}
#d28
{
	float:right;
	width:50%;
	
	
	
}

#d29
{
	float:left;
	width:50%;
	
	
	
}
#d30
{
	float:right;
	width:50%;
	
	
	
}

#d31
{
	float:left;
	width:50%;
	
	
	
}
#d32
{
	float:right;
	width:50%;
	
	
	
}

#d33
{
	float:left;
	width:50%;
	
	
	
}
#d34
{
	float:right;
	width:50%;
	
	
	
}

#d35
{
	float:left;
	width:50%;
	
	
	
}
#d36
{
	float:right;
	width:50%;
	
	
	
}

#d37
{
	float:left;
	width:50%;
	
	
	
}
#d38
{
	float:right;
	width:50%;
	
	
	
}

#d39
{
	float:left;
	width:50%;
	
	
	
}
#d40
{
	float:right;
	width:50%;
	
	
	
}

#d41
{
	float:left;
	width:50%;
	
	
	
}
#d42
{
	float:right;
	width:50%;
	
	
	
}
#d43
{
	float:left;
	width:50%;
	
	
	
}
#d44
{
	float:right;
	width:50%;
	
	
	
}
#d45
{
	float:left;
	width:50%;
	
	
	
}
#d46
{
	float:right;
	width:50%;
	
	
	
}

img
{
 width:470px; 
 height:470px;
}
